{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script type="text/javascript" src="{% static 'post_pengumuman/script.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://kit.fontawesome.com/fd84aa46ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'post_pengumuman/style.css' %}">
    <title>Buat Pengumuman - Risikovid</title>
{% endblock meta %}
{% block content %}
    </div></div>
    <div class="container">
        <div id="messages" class="row justify-content-center mx-2">
        </div>
        <div class="row justify-content-center py-5 mx-2">
            <h2 class="ubuntu text-center">Post Pengumuman</h2>
        </div>
        <div class="row justify-content-center pb-5 px-2">
            <form id="form-pengumuman" method="POST">
                <h3 class="ubuntu pb-2">Pemerintah Provinsi {{provinsi}}</h3>
                {% csrf_token %}
                {{form}}
                <div>
                    <button type="submit">Kirim</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
