{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script type="text/javascript" src="{% static 'post_pengumuman/script.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://kit.fontawesome.com/fd84aa46ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'post_pengumuman/style.css' %}">
    <title>Buat Pengumuman - Risikovid</title>
{% endblock meta %}
{% block content %}
    </div></div>
    <div class="container">
        <div class="row text-center justify-content-center pt-5 pb-1 mx-1">
            <h2 class="ubuntu">Buat Pengumuman</h2>
        </div>
        <div class="row text-center justify-content-center py-1 mx-1">
            <h5 class="ubuntu"><span>Username: </span><span id="username" data-user="{{username|slice:":-5"}}">{{username}}</span></h5>
        </div>
        <div class="row justify-content-center px-4 pb-5">
            <div data-kode-prov="BAN" data-prov="banten" class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'BAN' %}">
                    <img src="{% static 'post_pengumuman/img/Banten.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div data-kode-prov="JKT" data-prov="jakarta" class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JKT' %}">
                    <img src="{% static 'post_pengumuman/img/Jakarta.png' %}" class="thumbnail rounded img-fluid" >
                </a>
            </div>
            <div data-kode-prov="JBR" data-prov="jabar" class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JBR' %}">
                    <img src="{% static 'post_pengumuman/img/West_Java.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div data-kode-prov="JTE" data-prov="jateng" class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JTE' %}">
                    <img src="{% static 'post_pengumuman/img/Central_Java.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div data-kode-prov="YOG" data-prov="yogya" class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'YOG' %}">
                    <img src="{% static 'post_pengumuman/img/Yogyakarta.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div data-kode-prov="JTI" data-prov="jatim" class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JTI' %}">
                    <img src="{% static 'post_pengumuman/img/East_Java.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>

        </div>
    </div>
    {% if pengumumans %}
    <div class="container-fluid px-5">
        <div class="header-list py-2">
            <h5 class="ubuntu text-center">Daftar Pengumuman</h5>
            <h6 class="ubuntu text-center">Judul-Urgensi-Provinsi</h6>
        </div>
        <div class="list-pengumuman text-center py-2 mb-5">
            {% for pengumuman in pengumumans %}
                <h6>{{pengumuman}}</h6>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock content %}
