@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Prompt&family=Spinnaker&family=Ubuntu:wght@700&display=swap');

body {
  font-family: 'Archivo', sans-serif;
  background: #ECF0F1;
}

/* fonts */
.prompt {
  font-family: 'Prompt', sans-serif;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.spinnaker {
  font-family: 'Spinnaker', sans-serif;
}

.is-navy {
  background-color: #2c3e50;
}

.home-height {
  min-height: calc(100vh - 56px);
  background-color:#ECF0F1;
}

.height-qotd {
  height: 10vh;
  background-color: #517394;
}