body {
    background: #ECF0F1;

}

.container {
    justify-content: center;
}

ul.messages {
    text-align: center;
    list-style-type: none;
    background-color: orange;
    border-radius: 10px;
    padding: 7px;
}

.message p {
    text-align: center;
    color: white;
    background-color: #3E7EDE;
    border-radius: 10px;
    padding: 7px;
    animation: blink;
}

.img-fluid {
    width: 350px;
    height: 230px;
    margin: 1rem 0;
}

#form-pengumuman h3 {
    text-align: center;
    font-size: 3vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

.thumbnail {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
}

#form-pengumuman {
    position: relative;
    align-self: center;
    padding: 5px;
    max-width: 80%;
    background: white;
    padding: 3vh 5vw;
    border-radius: 10px;
}

#form-pengumuman label:first-of-type,label:nth-of-type(2) {
    display: inline-block;
    width: 35%;
}

#form-pengumuman input {
    display: inline-block;
    box-sizing: border-box;
    width: 65%;
    margin-bottom: 5px;
}

#form-pengumuman input:hover {
    border-color: #2C3E50;
}

#form-pengumuman select {
    display: inline-block;
    box-sizing: border-box;
    width: 65%;
    margin-bottom: 5px;
}

#form-pengumuman select:hover {
    border-color: #2C3E50;
}

#form-pengumuman textarea {
    display: inline-block;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 150px;
}

#form-pengumuman textarea:hover {
    border-color: #2C3E50;
}

#form-pengumuman button {
    background-color: #2C3E50;
    border-radius: 17px;
    width: 78px;
    height: 34px;
    font-family: spinnaker;
    text-align: center;
    color: #ECF0F1;
}

#form-pengumuman>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-pengumuman label {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    font-family: prompt;
    /* font-size: 36px; */
    /* line-height: 54px; */
    align-items: center;
    color: #000000;
}

#messages {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index:100;
}

.color-1 {
    color: #2C3E50;
}
.color-2 {
    color: #ECF0F1;
}

.header-list {
    color: white;
    background-color: #2C3E50;
    border-radius: 0.5em;
}

.list-pengumuman {
    background-color: white;
}

@media screen {
    
}