{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hasil Periksa</title>
{% endblock meta %}

{% block content %}
<div class="container py-5 justify-content-center align-items-center">
    <div class="row m-5 p-3 bg-light rounded-lg">
        <div class="col text-center">
            <h2>Hasil Periksa</h2>
            <br>
            <p>Peluang {{ pengunjung }} terkena COVID-19 adalah {{ persentase_str }}%</p>
            <p>{{ pesan }}</p>
            {% if not user.is_authenticated %}
            <p><a href="{% url 'periksa:show_pengunjung_periksa' %}" class="text-dark">Klik disini untuk melihat pengunjung lainnya.</a> Catatan: Login dahulu, kemudain pergi lagi ke bagian periksa</p>
            {% else %}
            <p><a href="{% url 'periksa:show_pengunjung_periksa' %}" class="text-dark">Klik disini untuk melihat pengunjung lainnya.</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}