{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Periksa</title>
{% endblock meta %}

{% block content %}
<div class="py-5">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible show fade" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    <div class="container">
        <div class="row pt-1 pb-5">
            <div class="col">
                <h2 class="text-center ubuntu">Periksa Gejala Anda</h2>
            </div>
        </div>
        <div class="row mx-1 p-4 bg-light rounded-lg">
            <div class="col">
                <form action="{% url 'periksa:hasil_periksa' %}" method="POST" id="form-periksa">
                    {% csrf_token %}
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-2 col-form-label prompt">Nama</label>
                        <div class="col-sm-4">
                            {{ pengunjung_periksa_form.nama }}
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-2 col-form-label prompt">Daerah</label>
                        <div class="col-sm-4">
                            {{ pengunjung_periksa_form.daerah }}
                        </div>
                    </div>
                    <div class="row text-center justify-content-center pt-3">
                        <div class="col-md-8">
                            Silakan klik pada gejala yang sesuai dengan keadaan Anda.
                            Tekan panah ke kiri atau ke kanan untuk melanjutkan.
                            Jika sudah selesai, klik "Hitung persentase".
                        </div>
                    </div>
                    
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner text-center" style="height: 10rem;" id="tes-gejala">
                            {% for choice in pengunjung_periksa_form.gejala %}
                                {% if forloop.first %}
                                <div class="carousel-item active p-5 prompt">
                                    {{ choice }}
                                </div>
                                {% else %}
                                <div class="carousel-item p-5 prompt">
                                    {{ choice }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <input class="is-navy text-light rounded-pill spinnaker p-3" type="submit" id="btn-submit"value="Hitung Persentase">
                    </div>
                </form>
                <div class="col text-center text-light height-qotd border rounded-lg" id="qotd">
                    Arahkan mouse ke sini
                </div>
                {% if user.is_authenticated %}
                <p class="text-center mt-4"><a href="{% url 'periksa:show_pengunjung_periksa' %}" class="text-dark">Klik disini untuk melihat pengunjung lainnya.</a></p>
                {% endif %}
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/script_periksa.js' %}"></script>
{% endblock content %}