{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pengunjung Periksa Lainnya</title>
{% endblock meta %}

{% block content %}
<section class="d-flex text-center justify-content-center align-items-center text-dark flex-column home-height">
    <div class="container bg-light" id="container-pengunjung-periksa">
        <h3 class="text-center">Daftar Pengunjung Fitur Periksa</h3>
        <ul id="list-pengunjung-periksa">

        </ul>
    </div>
    <button class="btn btn-primary" id="btn-data">Munculkan Pengunjung Periksa</button>
</section>

<script src="{% static 'js/script_periksa.js' %}"></script>
{% endblock content %}