{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="d-flex justify-content-center align-items-center text-dark flex-column home-height">
  <form method="POST" action="{% url 'main:masuk' %}" class="login-form bg-light rounded-lg d-flex flex-column justify-content-center p-4">
      <h3 class="text-center mb-3">Login</h3>
      {% csrf_token %}
      {{ form }}
      <button type="submit" id="btn_login" class="btn btn-primary">Login</button>
      <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account? =><a class="text-dark"href="{% url 'main:daftar' %}"> Create a new one here</a>
          </div>
      </div>
  </form>
</section>
{% endblock content %}
