{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Menambahkan Tips</title>
{% endblock meta %}

{% block content %}
<h2 class="ubuntu text-center m-5">Unggah tips dari Anda</h2>
<form method="POST" action="">
    {% csrf_token %}
    <div class="container bg-light">
    {{tips}}
    <div class="justify-content-center align-items-center mt-5">
        <input class="is-navy text-light rounded-pill spinnaker p-1" type="submit" value="Submit">
    </div>
    </div>
    
</form>
{% endblock content %}